extends layout

block content
    - movies = movieList
    div#main
      table(cellspacing='0', cellpadding='0')
        thead
          tr.header
            td.sessionTimes: h1= header
            td.clock: h1.clockTime
      table.content(cellspacing='0', cellpadding='0')
        tbody
        - if (movies.length)
          - for (var i = 0; i < movies.length; i++) {
            - movieTime = movies[i].time
            if movieTime.indexOf(',') > -1
              - times = movieTime.split(',');
              - time1 = times[0].match(/10:..|11:..|12:..|1:..|2:..|3:..|4:..|5:..|6:..|7:..|8:../)[0]
              - time2 = times[1].match(/10:..|11:..|12:..|1:..|2:..|3:..|4:..|5:..|6:..|7:..|8:../)[0]
              tr.movie_gallery_item(data-index=time1 data-index1=time2)
                td.thumbnail: img.thumbnail(src="#{movies[i].thumbnail}")
                td: h3= movies[i].title
                td: p: strong= times[0] + ', ' + times [1]
            else
              - timeIndex = movies[i].time.match(/10:..|11:..|12:..|1:..|2:..|3:..|4:..|5:..|6:..|7:..|8:../)[0]
              tr.movie_gallery_item(data-index=timeIndex)
                td.thumbnail: img.thumbnail(src="#{movies[i].thumbnail}")
                td: h3= movies[i].title
                td: p: strong= movies[i].time
          - }
            
        - else
          h1.sorry Sorry, no movies on today.
          
        h1#noMovies.sorry
    script(type="text/javascript").
      document.body.style.cursor = 'none'
      var moviesList = $(".content tbody").children().length;
      for (var j = 0; j < moviesList; j++) {
            var d = new Date(),
                day = d.getDate(),
                month = d.getMonth() + 1,
                year = d.getFullYear(),
                hours = d.getHours(),
                minutes = d.getMinutes();
                var currentTime = moment(year+'-'+month+'-'+day+' '+hours+':'+minutes, 'YYYY-MM-DD HH:mm');

                var timeIndex1 = $('.movie_gallery_item[j]').attr('data-index');
      }
      
      function clock() {
            var time = new Date().toLocaleTimeString().replace(/\s.M/, "");
            $('.clockTime').text(time);
      }
      clock();
      setInterval(clock, 1000);

      function removeMovies() {
            var format = 'HH:mm',
                time = moment();

            $("tr.movie_gallery_item").each(function() {

              // movies that have two times
              if ($(this).is("[data-index1]")) {
                var getTime = $(this).attr('data-index');
                var getTime1 = $(this).attr('data-index1');
                var beforeTime = moment($(this).attr('data-index'), format);
                var beforeTime1 = moment($(this).attr('data-index1'), format);
                var afterTime = moment('23:59', format);

                // changes first time to 24h
                var beforeHour = getTime.split(':');
                if (beforeHour[0] >= 1 && beforeHour[0] <= 9) {     
                    var newHour = parseInt(beforeHour[0]) + 12;
                    beforeTime = moment(getTime.replace(/.:/,newHour + ':'), format);
                    attrTime = getTime.replace(/.:/,newHour + ':');
                    $(this).attr('data-index', attrTime);
                }

                // changes second time to 24h
                var beforeHour1 = getTime1.split(':');
                if (beforeHour1[0] >= 1 && beforeHour1[0] <= 9) {     
                    var newHour1 = parseInt(beforeHour1[0]) + 12;
                    beforeTime1 = moment(getTime1.replace(/.:/,newHour1 + ':'), format);
                    attrTime1 = getTime1.replace(/.:/,newHour1 + ':');
                    $(this).attr('data-index1', attrTime1);
                }

                // change data-index if realtime is after first time
                if (time.isBetween(beforeTime, afterTime)) {
                    var firstTime = $(this).find('td p strong').text().split(',');
                    $(this).find('td p strong').text(firstTime[1]);

                    //
                    var hour = $(this).attr('data-index1').split(':');   
                        var attr = $(this).attr('data-index1');
                        attr = attr.replace(/.m/, '').trim();
                        $(this).attr('data-index', attr);
                        $(this).removeAttr('data-index1');

                } 

                // remove if realtime is after second time
                if (time.isBetween(beforeTime1, afterTime)) {
                    $(this).remove();
                }

              // movies with one time
              } else {
                var getTime = $(this).attr('data-index');
                var beforeTime = moment($(this).attr('data-index'), format);
                var afterTime = moment('23:59', format);

                var beforeHour = getTime.split(':');
                if (beforeHour[0] >= 1 && beforeHour[0] <= 9) {     
                    var newHour = parseInt(beforeHour[0]) + 12;
                    beforeTime = moment(getTime.replace(/.:/,newHour + ':'), format);
                    attrTime = getTime.replace(/.:/,newHour + ':');
                    $(this).attr('data-index', attrTime);
                }

                if (time.isBetween(beforeTime, afterTime)) {
                    $(this).remove();
                }
              }
            });
        if (!$('tr.movie_gallery_item').length) {
            $('h1#noMovies').text('No movies left.');
        }

        $('tr.movie_gallery_item').sort(function(a,b){
            return moment($(b).attr('data-index'), 'HH:mm') - moment($(a).attr('data-index'), 'HH:mm');
        }).each(function(){
            $('.content').prepend(this);
        })

      }
      removeMovies();
      setInterval(removeMovies, 60000);