doctype html
html
  head
    meta(http-equiv='refresh', content='600')
    title What's On Today
    script(src="assets/jquery.js")
    script(src="assets/moment.js")
    
    link(href="assets/styles.css", rel="stylesheet")

    body
    block content